body{
background-image: url(neptune\ image\ \(1\).jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
p {
color: white;
}
h1{
color: white;
}
