body{
background-image: url(venus\ image\ \(1\).jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
p{
color: white
}
h1{
color:white
}